.instagram-rtb {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.instagram-rtb .item {
  width: 25%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}
.instagram-rtb .circle {
  border-radius: 50%;
  padding: 0;
}
.instagram-rtb .item img {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.instagram-rtb .login-wrapper {
  overflow-y: hidden;
}
.instagram-rtb a {
  text-decoration: none;
  color: #000;
  display: block;
  float: right;
  margin-right: 10px;
}
